<ion-split-pane contentId="main-content">
    <!-- Side Menu -->
    <ion-menu [type]="menuType" contentId="main-content" >
        <ion-content>
            <div class="h-full flex flex-col bg-slate-900 xs:shadow-2xl overflow-hidden">
                <!-- header -->
                <section class="sticky top-0 z-10 xs:px-4 xs:py-2 xs:flex xs:flex-row xs:items-center xs:justify-between">
                   <div class="relative xs:flex xs:items-center">
                    <img src="../../../../assets/images/0.png"
                    alt="" 
                    srcset=""
                    class="object-contain xs:h-14 xs:self-center">
                    <h1 class="xs:text-sm font-extrabold tracking-widest self-center font-Poppins" style="color: #61A5C2">Simplestock</h1>
                   </div>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                </section>
               <!-- second section -->
               <section class="flex flex-1 flex-col overflow-auto">
                    <!-- Content -->
                    <article class="relative xs:flex xs:justify-center xs:items-center xs:py-7" id="menu-item">
                        <!-- Avatar Person -->
                        <section class="flex flex-col justify-center items-center">
                            <!-- Avatar -->
                            <img src="../../../../assets/images/profile-2.jpg" 
                            width="200px"
                            height="200px"
                            alt="profile"
                            srcset=""
                            class="object-cover xs:rounded-full xs:h-24 xs:w-24 xs:max-h-32
                            xs:shadow-xl xs:mb-5 cursor-pointer">
                            <!-- Information aditional -->
                            <div class="text-center text-zinc-200">
                                <h4 class="font-bold tracking-tight xs:text-md">Pedro Ramirez</h4>
                                <span class="xs:text-xs xs:text-slate-500 xs:font-bold xs:tracking-tighter">pedro.ramirez@correo.com</span>
                            </div>
                        </section>
                    </article>
                    <!-- List Item -->
                    <ul class="relative whitespace-nowrap text-stone-200 xs:mt-2
                    xs:px-3 xs:py-0 lg:px-2 lg:py-2 flex-auto font-Poppins" aria-label="item-list" >
                        <!-- Title Item -->
                        <li class="h-full w-full">
                            <div class="relative xs:px-5 xs:py-2">
                                <h5 class="font-extrabold text-transparent tracking-tighter
                                bg-clip-text bg-gradient-to-r from-prussian-blue-500 to-prussian-blue-200
                                hover:to-prussian-blue-50 cursor-pointer
                                transition-all duration-300"> Dashboards </h5>
                            </div>    
                            <a class="item-list title-list" routerLink="/dashboard" routerLinkActive="active-prussian" >
                                <i class="fa-solid fa-gauge xs:text-base">                       
                                </i>
                                <span class="xs:text-sm">Resumen General</span>
                            </a>
                            <a class="item-list title-list" routerLink="/sales">
                                <i class="fa-solid fa-chart-simple"></i>
                                <span class="">Ventas</span>
                            </a>
                            <div class="relative xs:px-5 xs:py-2">
                                <h5 class="font-extrabold text-transparent tracking-tighter
                                bg-clip-text bg-gradient-to-r from-prussian-blue-500 to-prussian-blue-200
                                hover:to-prussian-blue-50 cursor-pointer
                                transition-all duration-300"> Control </h5>
                            </div>
                            <!-- Dropdowns -->
                            <div *ngFor="let dropdown of dropdowns">
                                <app-dropdown [title]="dropdown.title" [icon]="dropdown.icon">
                                <div *ngFor="let item of dropdown.items" class="item-list title-list">
                                    <i class="{{ item.icon }}"></i>
                                    <a>{{ item.subtitle }}</a>
                                </div>
                                </app-dropdown>
                            </div>
                            <div class="relative xs:px-5 xs:py-2">
                                <h5 class="font-extrabold text-transparent tracking-tighter
                                bg-clip-text bg-gradient-to-r from-prussian-blue-500 to-prussian-blue-200
                                hover:to-prussian-blue-50 cursor-pointer
                                transition-all duration-300"> Servicios </h5>
                            </div>
                            <div *ngFor="let service of services">
                                <app-dropdown [title]="service.title" [icon]="service.icon">
                                <div *ngFor="let item of service.items" class="item-list title-list">
                                    <i class="{{ item.icon }}"></i>
                                    <a>{{ item.subtitle }}</a>
                                </div>
                                </app-dropdown>
                            </div>
                    </li>
                    </ul>
                    <!-- Footer -->
                    <article class="flex-end text-white xs:px-4 xs:py-5">
                        <span class="xs:text-gray-400 xs:text-xs">Simplestock &copy; </span>
                    </article>
               </section>
            </div>
        </ion-content>
    </ion-menu>
    <!-- Outlet -->
    <app-wrapper-common id="main-content" class="flex-auto"/>
</ion-split-pane>