<ion-content [fullscreen]="true" class="relative">
    <!-- Container -->
    <section class="h-full w-full grid place-content-center overflow-hidden 2xl:py-[120px] 2xl:px-[150px] xl:py-[70px] xl:px-[60px] lg:py-[30px] lg:px-[14px]
    xs:px-7 xs:py-5">
        <!-- Image -->
        <section class="h-full w-full">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="absolute right-0 bottom-0 -z-10 2xl:h-[960px] w-auto xl:h-[700px] lg:h-[480px] xs:hidden lg:flex"
                xmlns:xlink="http://www.w3.org/1999/xlink" width="960" height="1083.161" viewBox="0 0 960 1083.161">
                <defs>
                    <style>
                        .cls-1 {
                            fill: url(#linear-gradient);
                        }
                    </style>
                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#014f86" />
                        <stop offset="0.205" stop-color="#014778" />
                        <stop offset="0.716" stop-color="#014474" />
                        <stop offset="1" stop-color="#012843" />
                    </linearGradient>
                </defs>
                <path id="form-1" class="cls-1" d="M1920,0,960,1083.161h960Z" transform="translate(-960)" />
            </svg>
        </section>
        <div class="flex xs:flex-col xs:justify-center xs:items-center lg:flex-row">
            <div
                class="2xl:flex 2xl:flex-col 2xl:justify-start 2xl:items-start 2xl:w-[750px] xl:w-[500px] lg:w-[450px] gap-0">
                <!-- Logo -->
                <div class="flex justify-center">
                    <img src="../../assets/images/0.png" alt="" srcset="" class="xs:h-36 xs:w-36">
                </div>
                <div class="flex flex-col items-center xs:p-5 rounded-xl">
                    <!-- Text -->
                    <div *ngIf="!isSendCode" class="xs:mb-4 xs:text-center">
                        <h1 class="xs:text-md xs:font-bold lg:text-base">Restablecer contraseña</h1>
                        <h3 class="xs:text-xs xs:text-gray-400 lg:text-base">Ingresa tu usuario para enviar las
                            instrucciones por
                            correo</h3>
                    </div>
                    <!-- Form -->
                    <app-verify-code *ngIf="isSendCode" [username]="_form.get('username')?.value" />

                    <form *ngIf="!isSendCode" [formGroup]="_form" (ngSubmit)="NgSubmit()" method="post"
                        class="flex flex-col xs:gap-2">
                        <app-input formControlName="username" [type]="'text'" placeholder="jhon.sweet"
                            [errorMessage]="_form.get('username')?.errors" />
                        <div class="flex xs:gap-3 justify-between xs:mb-2">
                            <a routerLink="/login" class="xs:text-xs text-prussian-blue-700 dark:text-prussian-blue-200
                                lg:text-base">¿Ya cuentas con
                                acceso, inicia sesion?</a>
                        </div>
                        <app-button text="Enviar código" type="submit" [disabled]="_form.invalid" />
                    </form>
                </div>
            </div>
            <!-- section 2 -->
            <div
                class="h-full flex-auto 2xl:flex 2xl:justify-center 2xl:items-center xl:flex xl:justify-center xl:items-center xs:hidden">
                <!-- IconPerson -->
                <div class="flex-auto">
                    <img src="../../../assets/svg/password-icon.svg" alt="" srcset="" class="h-auto w-auto">
                </div>
            </div>
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
        class="absolute right-0 bottom-0 -z-10 2xl:h-[960px] w-auto xl:h-[700px] lg:h-[480px] lg:hidden">
        <path fill="#01497C" fill-opacity="1"
            d="M0,64L48,85.3C96,107,192,149,288,149.3C384,149,480,107,576,90.7C672,75,768,85,864,101.3C960,117,1056,139,1152,160C1248,181,1344,203,1392,213.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</ion-content>