<section class="flex flex-col items-center xs:gap-5">
    <h1 class="xs:text-md xs:font-bold lg:text-lg">Restablecer contraseña</h1>
    <form [formGroup]="_form" class="xs:flex xs:flex-col xs:justify-center xs:items-center xs:gap-3"
        method="post"
        (ngSubmit)="NgSubmit()">
        <div class="relative xs:mb-3">
            <app-input type="password" formControlName="password" placeholder="Nueva contraseña"
                [errorMessage]="_form.get('password')?.errors" />
            <div *ngIf=" getFirstPasswordFeedback() " class="xs:dark:text-red-500 xs:text-red-600
            xs:text-xs xs:px-2 lg:text-base xs:mb-3"> {{ getFirstPasswordFeedback() }} </div>
            <ion-progress-bar [value]="passwordStrength" [color]="passwordColor" class="xs:mt-3 md:mt-4 lg:mt-5" />
            <div class="xs:text-xs xs:text-white lg:text-lg"> {{ passwordMessage }} </div>
        </div>
        <app-button text="Cambiar contraseña" [disabled]="_form.invalid" />
    </form>
</section>