.upload-box {
    width: 100%;
    height: 200px;
    padding: 2.1rem;
    background: rgb(238, 238, 238);
    border: 3px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all ease .3s;
}

.upload-box:hover {
    background: #f7f7f7;
}

.upload-box input[type="file"] {
    display: none;
}

@media(prefers-color-scheme: dark) {
    .upload-box{
        background: #18181C;
    }
    .upload-box:hover{
        background: #18181C;
    }
}

.upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease .3s;
    opacity: 0;
    pointer-events: none;
}