<section class="flex flex-wrap flex-shrink gap-5">
    <div class="w-full md:w-1/2 lg:w-1/5 bg-gradient-to-r from-prussian-blue-400 to-prussian-blue-800
    xs:rounded-xl xs:p-5 xs:shadow-2xl dark:text-prussian-blue-200 cursor-pointer">
        <div class="card">
            <div class="card-body text-prussian-blue-100">
                <div class="flex justify-between items-center">
                    <div class="flex flex-col">
                        <h5 class="text-sm font-bold">Clientes</h5>
                        <h6></h6>
                        <h3 class="text-2xl font-bold">0</h3>
                    </div>
                    <div class="flex justify-center items-center">
                        <i class="fa-regular fa-user text-5xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 xs:rounded-xl xs:p-1 
    bg-gradient-to-r from-prussian-blue-400 to-prussian-blue-800
    ">
        <div class="card w-full h-full cursor-pointer
        bg-gray-50 hover:bg-transparent hover:text-prussian-blue-200 hover:shadow-2xl
        dark:bg-prussian-blue-1000 xs:rounded-xl xs:p-4
        transition-all duration-300
        ">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <div class="flex flex-col">
                        <h5 class="text-sm font-bold">Ventas</h5>
                        <h3 class="text-2xl font-bold">GTQ 0.00</h3>
                    </div>
                    <div class="flex justify-center items-center">
                        <i class="fa-solid fa-chart-simple text-4xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 xs:rounded-xl xs:p-1 bg-gradient-to-r from-prussian-blue-400 to-prussian-blue-700">
        <div class="card w-full h-full cursor-pointer
        bg-gray-50 hover:bg-transparent hover:text-prussian-blue-200 hover:shadow-2xl
        dark:bg-prussian-blue-1000 xs:rounded-xl xs:p-4
        transition-all duration-300">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <div class="flex flex-col">
                        <h5 class="text-sm font-bold">Productos</h5>
                        <h3 class="text-2xl font-bold">0</h3>
                    </div>
                    <div class="flex justify-center items-center">
                        <i class="fa-solid fa-box text-4xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 xs:rounded-xl xs:p-1 bg-gradient-to-r from-prussian-blue-400 to-prussian-blue-700">
        <div class="card w-full h-full cursor-pointer
        bg-gray-50 hover:bg-transparent hover:text-prussian-blue-200 hover:shadow-2xl
        dark:bg-prussian-blue-1000 xs:rounded-xl xs:p-4
        transition-all duration-300
        ">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <div class="flex flex-col">
                        <h5 class="text-sm font-bold">Proveedores</h5>
                        <h3 class="text-2xl font-bold">0</h3>
                    </div>
                    <div class="flex justify-center items-center">
                        <i class="fa-solid fa-box text-4xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>